@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(b.jpg);
  background-position: center;
  background-size: cover;
  height: 110vh;
  overflow: hidden;
  padding: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding-top: 10px;
}

.center img {
  width: 130px;
  height: 80px;
  margin-top: auto;
  float: left;
  padding-top: 10px;

}

.center h1 {
  text-align: center;
  padding: 35px 0;
  border-bottom: 1px solid silver;
  padding-right: 60px;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: blue;
  cursor: pointer;
}

.pass:hover {
  text-decoration:underline;
}

input[type="submit"] {
  width: 60%;
  height: 50px;
  border: 1px solid;
  background: #156296;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700px;
  cursor: pointer;
  outline:auto;
}

input[type="submit"]:hover {
  background-color: #ebf3f8;
  transition: .5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link .forgot a{
  text-align:justify;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration:dotted;
}

.forgot{
  text-align: right;
}

button {
  height: 8%;
  width: 8%;
  border-radius:5px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  background-color: darkblue;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  
}

button:hover {
  background: gray;
}
