@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(b.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 700px;
  width: 105%;
  height: 85%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container img {
  width: 130px;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  float: left;
  padding-top: 20px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  padding: 55px;
  padding-top: 60px;
  text-align: center;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 55%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 22px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

#dot-4:checked~.category label .four,
#dot-5:checked~.category label .five,
#dot-6:checked~.category label .six {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 11px 0;
  margin-right: 200px;
  margin-left: 210px;

}

form .login {
  margin-right: 200px;
  margin-left: 210px;
}

form .button input {
  height: 75%;  
  width: 55%;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: darkblue;

}

form .button input:hover {
  background: gray;
}

@media(max-width: 584px) {
  .container {
    max-width: 75%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 75%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 200px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.error {
  background: gray;
  color: #fff;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
}

button {
  height: 8%;
  width: 8%;
  border-radius:5px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  background-color: darkblue;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  
}

button:hover {
  background: gray;
}